.footer {
  display: grid;
  padding-bottom: clamp(15px, 3.509vw, 40px);

  border-bottom: 1px solid var(--border-c);

  grid-gap: clamp(30px, 6.754vw, 77px);
  grid-template-columns: auto 1fr;

@include tablet {
    grid-template-columns: 100%;
  }
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 2.632vw, 30px) 0;

  &__creator {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 1.404vw, 16px);
    line-height: 160%;
    font-family: var(--font-family);
    color: #1a0a03;

    opacity: 0.7;
  }
}
