<footer>

  <div class="container">
    <div class="footer">
      <div class="footer-about">
        <a href="#" class="footer-about__logo">
          <svg width='94' height='44'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <span class="footer-about__address">
          <span>10 New Town Street, V2</span>
          <span>5NW, Newstate, USA.</span>
        </span>

        <div class="footer-about__mail">shovasatkhira88@gmail.com
          <ul class="footer-about__list">
            <li class="footer-about__item">
              <a href="#" class="footer-about__logo">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#facebook'></use>
                </svg>
              </a>
            </li>
            <li class="footer-about__item">
              <a href="#" class="footer-about__logo">
                <img src="/img/sprite/inst.svg" alt="image" width='20' height='20'>
              </a>
            </li>
            <li class="footer-about__item">
              <a href="#" class="footer-about__logo">
                <img src="/img/sprite/twitter.svg" alt="image" width='20' height='20'>
              </a>
            </li>
            <li class="footer-about__item">
              <a href="#" class="footer-about__logo">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#google'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="footer-list">
        <li class="footer-list__item">
          <span class="footer-list__name">Our services</span>
          <ul class="footer-sublist">
            <li class="footer-sublist__item"> 
              <a href="#" class="footer-sublist__link">About us</a></li>
              <li class="footer-sublist__item"> 
                <a href="#" class="footer-sublist__link">Feature</a></li>
                <li class="footer-sublist__item"> 
                  <a href="#" class="footer-sublist__link">Gallary</a></li>
          </ul>
        </li>
        <li class="footer-list__item">
          <span class="footer-list__name">Support</span>
          <ul class="footer-sublist">
            <li class="footer-sublist__item"> 
              <a href="#" class="footer-sublist__link">Privacy & Policy</a></li>
              <li class="footer-sublist__item"> 
                <a href="#" class="footer-sublist__link">Terms & Condition</a></li>
                <li class="footer-sublist__item"> 
                  <a href="#" class="footer-sublist__link">Support System</a></li>
          </ul>
        </li>
        <li class="footer-list__item">
          <span class="footer-list__name">Our services</span>
         <p>Lorem ipsum dolor sit amet consectetur adipiscin.</p>
         <form class="footer-list__form">
          <input type="email" class="footer-list__input" placeholder="Mail address">
          <button type="submit" class="footer-list__btn orange-btn">Send</button>
        </form>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <span class="footer-bottom__creator">Copyright 2021 The PUMA All Rights Reserved.</span>
    </div>
  </div>
</footer>