<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>Puma</title>
    <link rel="preload" href="fonts/Poppinsregular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Poppins-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Poppinsmediumitalic.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Sourcesemibold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
