<header>
  <div class="container">
    <div class="mobile-header">
      <button class="burger">
        <span></span>
        <span></span>
        <span></span>        
      </button>

      <a href="#" class="logo">
        <svg width='94' height='44'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>
    </div>

    <div class="header">

     

        <a href="#" class="logo">
          <svg width='94' height='44'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <nav class="nav-menu">
          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#">Menu</a>
            </li>
            <li class="nav-list__item">
              <a href="#">About</a>
            </li>
            <li class="nav-list__item">
              <a href="#">Feature</a>
            </li>
            <li class="nav-list__item">
              <a href="#">Gallary</a>
            </li>
          </ul>
        </nav>
        <button class="nav-btn">Buy now</button>
      </div>

    
  </div>

</header>