.blocks-list {
  display: grid;

  grid-gap: clamp(10px, 2.632vw, 30px);
  grid-template-columns: repeat(3, 1fr);

@include mobile {
    grid-template-columns: 100%;
  }

  .blocks-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 423px;
    padding: 20px clamp(20px, 5.263vw, 60px);

    background-color: var(--bg-a);
    border-radius: 10px;
    box-shadow: 0 1px 30px rgba(26, 10, 3, 0.05);

    transition: all 0.4s;

    grid-gap: 10px;

@include mobile {
      max-width: 85%;
      min-height: 310px;
      margin: 0 auto;
    }

    &:hover {
      background-color: var(--bg-g);
    }


    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;
      margin-bottom: clamp(10px, 2.456vw, 28px);

      background-color: var(--bg-f);
      border-radius: 50%;
    }

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: clamp(18px, 1.93vw, 22px);
      line-height: 150%;
      font-family: var(--font-family2);
      text-align: center;
      color: #1a0a03;
    }

    &__link {
      position: relative;

      font-style: normal;
      font-weight: 500;
      font-size: clamp(14px, 1.404vw, 16px);
      line-height: 160%;
      font-family: var(--font-family);
      text-align: center;
      color: var(--color-c);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 110%;

        width: 4px;
        height: 8px;

        background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 9 4-4-4-4' stroke='%231A0A03' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: contain;
        transform: translate(-115%, -50%);
      }
    }


    p {
      padding-bottom: clamp(0px, 0.877vw, 10px);

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      font-family: var(--font-family);
      text-align: center;
      color: var(--color-d-shadow);
    }
  }
}
