.mobile-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: clamp(15px, 3.509vw, 40px) 0 clamp(15px, 2.807vw, 32px);

@include for-tablet {
    display: none;
  }
}

.burger {
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: center;

  grid-gap: 7px;

  span {
    width: 20px;
    height: 2px;

    background-color: var(--color-c);

    transition: all 0.4s;
  }

  &.active {
    span {
      &:nth-child(2) {
        opacity: 0;
      }

      &:first-child {
        background-color: var(--bg-b);
        transform: rotate(45deg) translate(32%, 262%);
      }

      &:last-child {
        background-color: var(--bg-b);
        transform: rotate(-45deg) translate(37%, -342%);
      }
    }
  }
}
