.reviews-swiper {
  width: 100%;

  pointer-events: none;

  &__box {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

@include tablet {
      padding-bottom: 70px;
    }
  }
  &__btn-inner {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: row-reverse;
    width: fit-content;

    grid-gap: clamp(15px, 3.509vw, 40px);

@include tablet {
      top: initial;
      right: 50%;
      bottom: 0;

      transform: translateX(50%);
    }

    .swiper-button-prev {
      display: flex;
    }
    .swiper-button-next {
      display: flex;
    }
  }
}
.swiper {
  &-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__image {
      display: flex;
      align-items: center;
      margin-bottom: 70px;

@include mobile {
        justify-content: center;
      }
    }

    &__name {
      margin-bottom: 10px;

      font-style: normal;
      font-weight: 600;
      font-size: clamp(18px, 1.93vw, 22px);
      line-height: 150%;
      font-family: var(--font-family2);
      color: #1a0a03;

      &.name-icon {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 95%;
          left: 0;

          width: 37px;
          height: 31px;

          background-image: url("data:image/svg+xml,%3Csvg width='37' height='31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.1' d='M11.6 13.8a8.4 8.4 0 0 0-6 .3c.9-3.1 2.9-8.4 7-9 .3 0 .6-.3.7-.7l.9-3.1a1 1 0 0 0-.8-1.2l-1-.1C7.8 0 3 5 1 12.2-.3 16.5-.7 22.8 2.3 26.8a8.7 8.7 0 0 0 7 3.6 8.5 8.5 0 0 0 7.4-12.6 8.5 8.5 0 0 0-5-4Z' fill='%23EE5514'/%3E%3Cpath opacity='.1' d='M35.3 17.8a8.5 8.5 0 0 0-5.1-4 8.4 8.4 0 0 0-6 .3c.8-3.1 2.9-8.4 6.9-9 .3 0 .7-.3.8-.7l.8-3.1A1 1 0 0 0 32 0h-1c-4.8 0-9.6 5-11.6 12.2-1.2 4.3-1.5 10.6 1.4 14.6 1.6 2.3 4 3.5 7 3.6h.1a8.5 8.5 0 0 0 7.4-12.6Z' fill='%23EE5514'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: 100% 100%;
          background-size: contain;
        }
      }
    }

    p {
      font-style: italic;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      font-family: var(--font-family);
      color: var(--color-d-shadow);

      &:first-child {
        margin-bottom: 25px;
      }
    }
  }
}
