.selects-list {
  display: grid;
  align-items: center;

  grid-gap: var(--list-gap);
  grid-template-columns: repeat(4, 1fr);

@include mobile {
    grid-template-columns: repeat(2, 1fr);
  }  --list-gap: clamp(40px, 7.895vw, 90px);
}
.selects-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  grid-gap: 10px;


  &:not(:first-child) {
    @include mobile {
      &:nth-child(odd) {
        &:after {
          opacity: 0;
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: calc((var(--list-gap) / 2) * -1);

      width: 1px;
      height: 60%;

      background-color: var(--bg-c);
      transform: translate(-50%, -50%);
    }
  }
  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(15px, 1.404vw, 16px);
    line-height: 160%;
    font-family: var(--font-family);
    color: var(--color-d-shadow);
  }

  &__value {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(15px, 1.579vw, 18px);
    line-height: 160%;
    font-family: var(--font-family);
    color: #1a0a03;
  }
}
