.send-inner {
  display: flex;
  align-items: center;

  background-color: var(--bg-e);
  border-radius: 10px 10px 10px 10px;

  grid-gap: clamp(30px, 5.526vw, 63px);

@include small-tablet {
    flex-direction: column;
  }

  &__image {
    display: flex;
    align-items: center;
    width: fit-content;

@include small-tablet {
      justify-content: center;
      width: 100%;
      picture,
      img {
        width: 100%;

        border-radius: 10px;
      }
    }
  }
}
