.tabs-content {
  order: 5;
  width: 100%;

  grid-column: span 4;

@include mobile {
    order: initial;

    grid-column: initial;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    grid-gap: 10px;

    @media (max-width:414px) {
      width: fit-content !important;
    }
  }


  &__swiper {
    @include mobile {
      overflow: initial !important;
    }
  }





  &__title {
    padding-top: clamp(0px, 1.754vw, 20px);

    font-style: normal;
    font-weight: 600;
    font-size: clamp(18px, 1.93vw, 22px);
    line-height: 150%;
    font-family: var(--font-family2);
    color: var(--color-d);
  }

  &__options {
    display: flex;
    align-items: center;

    grid-gap: 10px;
  }

  &__value {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 1.404vw, 16px);
    line-height: 160%;
    font-family: var(--font-family);
    color: var(--color-d);

    opacity: 0.8;
  }

  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.404vw, 16px);
    line-height: 160%;
    font-family: var(--font-family);
    color: var(--color-d);

    opacity: 0.7;
  }
}
